<html>

  <head>
    <title>Scotland map</title>
    <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/ticket-popup.css">
    <link rel="stylesheet" href="/css/stats.css">

    <script src="/js/functionAliases.js"></script>
    <!-- <script src="/js/game/game.js"></script> -->
    <script src="/js/game/move.js"></script>
    <script src="/js/game/svgLib.js"></script>
    <script src="/js/game/notifier.js"></script>
    <!-- <script src="/js/game/controller.js"></script> -->
    <script src="/js/game/ticketPopup.js"></script>
    <script src="/js/game/robberLog.js"></script>
    <script src="/js/game/specialTickets.js"></script>
    <script src="/js/game/detectiveLog.js"></script>
    <script src="/js/poller.js"></script>
    <script src="/js/game/gameState.js"></script>
    <script src="/js/game/gameMain.js"></script>
  </head>

  <body>
    <div class="main">
      <div class="map">
        <svg version="1.1" id="map" width="1570" height="1000" viewBox="0 0 2570 1926"
          xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg">
          <defs id="defs77" />
          <g id="g79" style="display:none">
          </g>
          <g id="layer2" style="display:inline">
            <path
              style="fill:none;stroke:#808080;stroke-width:35.4434;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 265.3126,10.057856 143.97922,186.580594 168.53382,173.17359 40.18024,36.86922 26.78683,34.63473 27.90296,48.0417"
              id="path4019" />
            <path
              style="fill:none;stroke:#808080;stroke-width:39.7569;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 685.77726,475.96753 -162.30102,43.15336 -81.15053,22.7754 -19.63319,10.78834 -23.55983,16.78187"
              id="path4023" />
            <path
              style="fill:none;stroke:#808080;stroke-width:35.068;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 398.85242,570.10484 -7.73398,20.99224 -11.04854,22.09708 -8.83884,9.94369 -14.36311,14.36311 -141.42135,118.21941"
              id="path4047" />
            <path
              style="fill:none;stroke:#808080;stroke-width:24.968;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 2.2097087,146.94563 127.05825,281.73786" id="path4049" />
            <path
              style="fill:none;stroke:#808080;stroke-width:29.6857;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 122.90364,276.45298 64.34288,71.54546 139.97397,153.31168 83.53285,82.90189" id="path4053" />
            <path
              style="fill:none;stroke:#808080;stroke-width:22.868;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 93.912619,2.2097087 30.935921,30.9359213 26.51651,29.831068 30.93592,38.669902 22.09708,41.98447 17.67767,59.66213 16.57282,26.5165 16.57281,25.41165 49.71845,48.6136 22.09709,18.78252 102.75145,79.54951 27.62136,24.3068 24.3068,35.35534 34.25048,80.65436"
              id="path4055" />
            <path
              style="fill:none;stroke:#808080;stroke-width:27.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 338.99817,64.356964 295.48167,94.739351 208.44866,189.26233 99.657406,278.15895" id="path4790" />
            <path
              style="fill:none;stroke:#808080;stroke-width:22.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 100.54175,280.633 -27.621363,39.77476 -12.153398,28.72621 -7.73398,32.04078 7.73398,38.6699 18.782524,38.6699 46.403887,53.03301 45.29902,48.61359 27.62136,29.83107 -2.20971,6.62913 -30.93592,33.14563 -14.3631,14.3631 1.10485,17.67767 -79.549513,74.02524 -3.314563,12.1534 19.887378,109.38058"
              id="path4792" />
            <path
              style="fill:none;stroke:#808080;stroke-width:20.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 154.67961,649.65436 90.59805,89.4932 -28.72621,14.3631 -134.792228,95.01748" id="path4794" />
            <path
              style="fill:none;stroke:#808080;stroke-width:20.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 417.63494,182.30097 386.69902,204.39805 280.633,294.99611" id="path4796" />
            <path
              style="fill:none;stroke:#808080;stroke-width:20.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 647.44465,383.38446 -35.35534,-5.52427 -44.19418,-7.73398 h -30.93592 l -47.50873,15.46796 -50.8233,29.83106 -23.20195,-7.73398 -14.3631,4.41942 -28.72622,28.72621 -62.97669,66.29127"
              id="path4798" />
            <path
              style="fill:none;stroke:#808080;stroke-width:20.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 201.08349,341.39999 50.8233,456.30485" id="path4800" />
            <path
              style="fill:none;stroke:#808080;stroke-width:20.578;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 415.42523,580.04853 359.07766,564.58057 287.26213,554.63688 137.00194,538.06407 131.47767,535.85436 1.1048543,522.59611"
              id="path4802" />
          </g>
          <g id="layer3">
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 339.19028,85.073785 62.9767,87.283495" id="path4863" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 423.15921,199.97864 47.50874,51.92815 6.62913,4.41942 6.62912,-1.10486 6.62913,-5.52427"
              id="path5459" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 629.76698,399.95727 4.41941,11.04855 4.41942,11.04854 7.73398,14.36311 7.73398,9.94369 5.52427,9.94369 2.20971,4.41941"
              id="path5461" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 461.82912,402.71941 11.04854,-6.62913 9.94369,-4.97184 11.60097,-4.97185 12.70583,-4.97184 13.25825,-4.41942 16.02039,-3.86699 8.2864,-1.10485 14.91554,-0.55243 13.25825,-0.55243 9.39126,1.10486 16.02039,2.20971 11.60097,2.76213"
              id="path5465" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 527.56795,526.4631 644.68251,490.55533" id="path5467" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 456.85727,426.47378 12.1534,15.46796 4.97184,8.83883 4.41942,6.62913 6.62913,12.70582 8.83883,19.33496 7.18156,18.23009"
              id="path5471" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 417.63494,563.47572 11.04855,-6.62913 9.39126,-4.41942 7.73398,-2.20971 9.39126,-3.86699 17.67767,-5.52427 13.25825,-3.31456 3.31457,-1.10485"
              id="path5473" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 339.74271,508.78543 46.95631,46.40388" id="path5479" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 398.29999,593.30678 -4.97184,14.36311 -9.94369,16.02039 -15.46796,13.81068 -9.39126,7.73398 -21.54466,20.99223 -21.54466,17.12524 -15.46796,12.70583 -18.2301,14.36311 -28.72621,24.30679"
              id="path5513" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 168.49029,659.04562 57.45242,62.9767" id="path5515" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 162.41359,625.89999 12.70582,-11.04855 21.54466,-19.88737 2.76214,-3.31457 -0.55243,-4.97184 -2.76213,-4.41942 -12.1534,-11.04854 -6.0767,-6.0767 -7.73398,-6.62913"
              id="path5517" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 104.96116,829.19319 36.4602,-21.54466 12.70582,-8.83884 18.78253,-14.3631 43.64174,-34.25049"
              id="path5519" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 82.311649,815.38251 -8.838835,-49.71845 -3.314563,-20.99223 0.552427,-6.0767 6.629126,-8.83883 18.230097,-17.12525 30.935919,-26.5165 23.75437,-21.54466"
              id="path5521" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 174.01456,543.58834 203.2932,25.96408" id="path5523" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 82.311649,462.93397 16.572815,18.2301 43.089316,45.85145" id="path5525" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 86.178639,431.99805 87.835921,-69.0534" id="path5527" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 63.529125,424.26407 -5.524272,-13.81068 -2.209708,-16.57282 v -17.67766 l 4.419417,-24.85923 11.600971,-29.83107 11.60097,-19.33495 9.391262,-11.60097 4.419418,-4.97184 2.209708,-1.65728"
              id="path5529" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 130.37281,282.84271 47.50874,51.92816" id="path5531" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 129.26796,257.98349 70.71068,-55.79514" id="path5533" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 231.46699,175.11941 306.59708,94.465047" id="path5535" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 223.73301,204.95048 16.57281,28.72621 8.83884,13.25826 11.04854,12.70582 15.46796,17.12524"
              id="path5537" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 207.16019,362.94465 311.0165,477.84951" id="path5539" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 308.80679,303.28252 40.87961,34.25048 16.57282,12.70583 33.69805,25.96408 22.64952,17.67766 6.62912,4.97185"
              id="path5541" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 335.87572,482.26892 27.06893,-29.27864 9.39126,-8.83883 11.04855,-11.04855 4.41942,-6.62912 5.52427,-7.18156 5.52427,-4.97184 10.49612,-6.62913 6.07669,-0.55242 5.52428,1.10485 3.31456,0.55243"
              id="path5543" />
            <path
              style="fill:none;stroke:#f9ee07;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 303.83495,274.00388 64.08155,-53.03301 22.09708,-17.12524" id="path5545" />
          </g>
          <g id="layer4">
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 328.14174,99.989318 57.45243,77.892232" id="path8736" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 299.96796,87.283493 225.94271,167.93786" id="path22292" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 194.45437,196.11165 -69.0534,55.24271" id="path22294" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 125.40097,290.02427 46.40388,49.71844" id="path22296" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 201.08349,371.23106 304.38737,482.26892" id="path22298" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 334.77087,514.86213 44.7466,44.7466" id="path22300" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5.05788;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 643.02438,483.94048 525.91151,518.16242" id="path22302" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 485.03106,530.88251 -44.19418,13.25826 -6.62912,2.76213 -11.04855,4.97185 -9.94368,4.97184"
              id="path22304" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 411.55824,211.57961 81.2068,89.4932 39.22233,39.77476 32.04077,29.27864 12.1534,12.70582 17.12524,15.46796 12.70583,12.1534 14.36311,14.36311 4.97184,6.62912 7.73398,11.60097 13.81068,21.54466"
              id="path22306" />
            <path
              style="fill:none;stroke:#4ba714;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 390.01358,593.30678 -3.86699,9.94369 -4.41941,6.62913 -10.49612,12.70582 -24.85922,23.75437 -38.6699,34.25049 -56.34758,46.95631"
              id="path22308" />
          </g>
          <g id="layer5">
            <path
              style="fill:none;stroke:#8e1111;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:15, 15;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 335.9375,92.96875 56.25,81.25" id="path26479" />
            <path
              style="fill:none;stroke:#8e1111;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:15, 15;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 418.75,207.8125 84.375,91.40625 60.9375,60.9375 45.3125,42.1875 16.40625,17.1875 14.84375,19.53125 12.5,21.09375"
              id="path26481" />
            <path
              style="fill:none;stroke:#8e1111;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:15, 15;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="M 640.625,475.78125 523.4375,510.9375" id="path26485" />
            <path
              style="fill:none;stroke:#8e1111;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:15, 15;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 484.375,523.4375 -32.03125,7.8125 -23.4375,9.375 -16.40625,7.03125 -6.25,3.90625" id="path26487" />
            <path
              style="fill:none;stroke:#8e1111;stroke-width:5;stroke-miterlimit:0.5;stroke-dasharray:15, 15;stroke-dashoffset:0;stroke-opacity:0.538983"
              d="m 382.8125,589.84375 -10.15625,18.75 L 350,632.8125 322.65625,657.03125 245.3125,721.875"
              id="path26489" />
          </g>
          <g id="layer6">
            <g id="1">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-1" cx="319.85535" cy="79.549507" rx="19.250912" ry="19.803339" />
              <text
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="314.13336" y="85.784073" id="text-1">
                <tspan id="tspan329" x="314.13336" y="85.784073"> 1</tspan>
              </text>
            </g>
            <g id="8">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-8" cx="214.34175" cy="186.72038" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="208.92206" y="193.80272" id="text-8">
                <tspan id="tspan385" x="208.92206" y="193.80272">8</tspan>
              </text>
            </g>
            <g id="9">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-9" cx="404.37671" cy="191.1398" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="398.60135" y="197.92619" id="text-9">
                <tspan id="tspan389" x="398.60135" y="197.92619">9</tspan>
              </text>
            </g>
            <g id="20">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-20" cx="502.70871" cy="235.33398" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="490.69202" y="241.90977" id="text-20">
                <tspan id="tspan393" x="490.69202" y="241.90977">20</tspan>
              </text>
            </g>
            <g id="18">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-18" cx="113.8" cy="270.68933" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="101.71196" y="277.64645" id="text-18">
                <tspan id="tspan397" x="101.71196" y="277.64645">18</tspan>
              </text>
            </g>
            <g id="19">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-19" cx="291.68155" cy="289.47183" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="279.02094" y="296.88925" id="text-19">
                <tspan id="tspan401" x="279.02094" y="296.88925">19</tspan>
              </text>
            </g>
            <g id="33">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-33" cx="630.3194" cy="378.41263" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="617.1449" y="386.23096" id="text-33">
                <tspan id="tspan405" x="617.1449" y="386.23096">33</tspan>
              </text>
            </g>
            <g id="31">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-31" cx="190.03494" cy="351.34369" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="177.30894" y="358.74118" id="text-31">
                <tspan id="tspan409" x="177.30894" y="358.74118">31</tspan>
              </text>
            </g>
            <g id="32">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-32" cx="443.04657" cy="411.00583" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="430.21454" y="417.84421" id="text-32">
                <tspan id="tspan413" x="430.21454" y="417.84421">32</tspan>
              </text>
            </g>
            <g id="43">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-43" cx="69.605827" cy="445.25632" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="57.728451" y="452.20636" id="text-43">
                <tspan id="tspan417" x="57.728451" y="452.20636">43</tspan>
              </text>
            </g>
            <g id="44">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-44" cx="322.61746" cy="496.07962" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="310.63409" y="503.06241" id="text-44">
                <tspan id="tspan421" x="310.63409" y="503.06241">44</tspan>
              </text>
            </g>
            <g id="46">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-46" cx="663.46503" cy="480.05923" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="652.88147" y="486.56854" id="text-46">
                <tspan id="tspan425" x="652.88147" y="486.56854">46</tspan>
              </text>
            </g>
            <g id="45">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-45" cx="507.12814" cy="525.91071" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="494.81546" y="531.92664" id="text-45">
                <tspan id="tspan429" x="494.81546" y="531.92664">45</tspan>
              </text>
            </g>
            <g id="57">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-57" cx="154.67961" cy="543.58832" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="142.94678" y="549.79498" id="text-57">
                <tspan id="tspan433" x="142.94678" y="549.79498">57</tspan>
              </text>
            </g>
            <g id="58">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-58" cx="397.74759" cy="572.31451" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="386.23096" y="580.03369" id="text-58">
                <tspan id="tspan437" x="386.23096" y="580.03369">58</tspan>
              </text>
            </g>
            <g id="73">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-73" cx="152.46991" cy="644.13007" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="140.19769" y="651.50702" id="text-73">
                <tspan id="tspan441" x="140.19769" y="651.50702">73</tspan>
              </text>
            </g>
            <g id="74">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-74" cx="234.22913" cy="741.35724" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="222.66699" y="747.72113" id="text-74">
                <tspan id="tspan445" x="222.66699" y="747.72113">74</tspan>
              </text>
            </g>
            <g id="92">
              <ellipse
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:3.768;stroke-miterlimit:0.5;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.538983"
                id="station-92" cx="86.178635" cy="836.37469" rx="19.250912" ry="19.803339" />
              <text xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#000000"
                x="74.222389" y="843.9353" id="text-92">
                <tspan id="tspan449" x="74.222389" y="843.9353">92</tspan>
              </text>
            </g>
          </g>
        </svg>


      </div>
      <!-- Stats-board -->
      <div class="stats">
        <section class="robber-log">
          <header>Mr. X's Log</header>
          <div id="log-board">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="rectangle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="rectangle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="rectangle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="rectangle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="rectangle"></div>
          </div>
        </section>
        <section class="special-tickets">
          <div>Mr. X</div>
          <table>
            <thead>
              <tr>
                <th><img src="images/ferries.jpeg" alt="Ferry"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="ferry"></td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="detectives-log">
          <table>
            <thead>
              <tr>
                <th></th>
                <th><img src="images/taxies.svg" alt="Taxi"></th>
                <th><img src="images/buses.svg" alt="Bus"></th>
                <th><img src="images/subways.svg" alt="Subway"></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
              <td>Red</td>
              <td>10</td>
              <td>8</td>
              <td>4</td>
            </tr> -->
            </tbody>
          </table>
        </section>
      </div>
    </div>


  </body>

</html>