<html>

  <head>
    <title>Scotland Yard</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/updatePlayerName.js"></script>
    <script src="/js/functionAliases.js"></script>
    <script src="/js/request.js"></script>
  </head>


  <body>
    <!-- Header starts here -->
    <header>
      <h1 id="game-name">Scotland Yard</h1>
      <nav id="auth">
        <a href="/login"><span>Login</span></a>
        <a href="/signup"><span>Signup</span></a>
      </nav>
    </header>
    <!-- Header ends here -->
    <main>
      <div id="heading">
        <p>Ready for challenge?</p>
      </div>
      <div id="play-game">
        <!-- <a href="/host"><span>Host</span></a> -->
        <form action="/host" method="post">
          <button type="submit" id="host-btn">Host</button>
        </form>
        <a href="#"><span>Join</span></a>
      </div>
    </main>
  </body>

</html>