<html>

  <head>
    <title>Scotland Yard</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/serveConnectionError.js"></script>
    <script src="/js/functionAliases.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/indexPage.js"></script>
    <script src="/js/nav/updateNav.js"></script>
    <script src="/js/popup.js"></script>
  </head>

  <body>
    <!-- Header starts here -->
    <header class="horizontal-flex vertical-middle">
      <h1 class="game-name">Scotland Yard</h1>
      <nav id="auth" class="auth horizontal-flex vertical-middle">
      </nav>
    </header>
    <!-- Header ends here -->
    <main class="vertical-flex vertical-middle">

      <div class="heading">
        <p>Ready for challenge?</p>
      </div>
      <div class="play-game horizontal-flex">
        <a href="/host" id="host-game"><span>Host</span></a>
        <a href="#" id="join-game"><span>Join</span></a>
      </div>
    </main>
  </body>

</html>