<html>

  <head>
    <title>Scotland Yard</title>
    <link rel="stylesheet" href="/css/lobby.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/functionAliases.js"></script>
    <script src="/js/request.js"></script>

    <script src="/js/showNameInLobby.js"></script>
    <script src="/js/lobby/initiateLobby.js"></script>
    <script src="/js/lobby/copyJoinLink.js"></script>
    <script src="/js/lobby/showPlayerData.js"></script>
    <script src="/js/lobby/startGame.js"></script>
    <script src="/js/lobby/lobbyMain.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>

  <body>
    <main>
      <div id="room-id"></div>
      <div id="game-link">
        <span onclick="copyToClipboard()"><i class="material-icons">content_copy</i></span>
      </div>
      <div id="players-container"></div>
      <div id="message"></div>
      <div id="play-button">
        <button type="submit" id="play" onclick="sendStartRequest()">Start</button>
      </div>
    </main>
  </body>

</html>