<html>

  <head>
    <title>Scotland Yard</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/notFound.css">
    <script src="/js/functionAliases.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/nav/updateNav.js"></script>
    <script src="/js/nav/errorNavMain.js"></script>

  </head>

  <body>
    <header class="horizontal-flex vertical-middle">
      <h1 class="game-name">Scotland Yard</h1>
      <nav id="auth" class="auth horizontal-flex vertical-middle">
      </nav>
    </header>
    <main>
      <div class="vertical-flex vertical-middle">
        <p class="error">404 Not Found</p>
        <p class="home-link"><a href="/">Home</a></p>
      </div>

    </main>
  </body>

</html>