* {
  box-sizing: border-box;
  color: var(--font-black);
}

.main {
  width: 100%;
  height: 100vh;
  cursor: default;
}

.map {
  position: relative;
  width: 80%;
  height: 100vh;
}

.map>svg {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.notification-banner {
  position: absolute;
  top: 42.5%;
  left: 0;
  width: 100%;
  height: 15%;
  text-align: var(--center);
  font-size: 4.5em;
  font-weight: var(--weight-100);
  color: var(--font-white);
  animation: slide-in;
  animation-direction: alternate;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes slide-in {
  0% {
    left: -110%;
  }

  100% {
    left: 0;
  }
}

.game-end {
  padding: 0.5em 1em;
  font-size: var(--font-m);
  border: 1px solid var(--font-white);
  text-align: var(--center);
  font-weight: var(--weight-100);
  color: var(--font-white);
  background-color: var(--primary-color);
  cursor: pointer;
}

.banner {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.two-x-btn {
  border-radius: 5px;
  color: var(--font-white);
  background-color: rgb(255 87 34 / 80%);
  border: 2px solid var(--two-x);
  visibility: hidden;
  position: absolute;
  right: 1%;
  top: 2%;
  width: 81px;
  font-size: var(--font-m);
  height: 45px;
  box-shadow: 0px 0px 10px var(--two-x);
  cursor: var(--pointer);
}

.visible {
  visibility: visible;
}

.red {
  background-color: rgba(255, 0, 0, 0.75);
}

.orange {
  background-color: rgba(255, 166, 0, 0.75);
}

.black {
  background-color: rgba(0, 0, 0, 0.75);
}

.purple {
  background-color: rgba(128, 0, 128, 0.75);
}

.green {
  background-color: rgba(0, 128, 0, 0.75);
}

.blue {
  background-color: rgba(0, 0, 255, 0.75);
}

.grey {
  background-color: rgba(128, 128, 128, 0.75);
}

.dark-red {
  border: 1px solid rgba(255, 0, 0, 0.8) !important;
  background-color: hsla(0, 100%, 85%);
  box-shadow: 0px 0px 5px var(--font-black);
}

.dark-orange {
  border: 2px solid rgba(255, 217, 0) !important;
  background-color: hsla(51, 100%, 85%);
  box-shadow: 0px 0px 5px var(--font-black);
}

.dark-purple {
  border: 1px solid rgba(128, 0, 128, 0.8) !important;
  background-color: hsla(300, 100%, 85%);
  box-shadow: 0px 0px 5px var(--font-black);
}

.dark-green {
  border: 1px solid rgba(0, 128, 0, 0.8) !important;
  background-color: hsla(120, 100%, 85%);
  box-shadow: 0px 0px 5px var(--font-black);
}

.dark-blue {
  border: 1px solid rgba(0, 0, 255, 0.8) !important;
  background-color: hsla(240, 100%, 85%);
  box-shadow: 0px 0px 5px var(--font-black);
}

.dark-grey {
  background-color: rgba(128, 128, 128, 0.8);
}

.dark-black {
  border: 1px solid var(--font-black) !important;
  background-color: hsla(0, 0%, 85%);
  box-shadow: 0px 0px 5px var(--font-black);
}

.white-text {
  color: var(--font-white);
}

.stranded {
  width: 100%;
  height: 100%;
}

.linear-gradiant {
  background-image: repeating-linear-gradient(45deg,
      hsla(0, 100%, 80%, 0),
      hsla(0deg, 0%, 100%, 0.8) 10px,
      hsla(0deg, 0%, 75%, 0.8) 10px,
      hsla(0deg, 0%, 75%, 0.8) 20px) !important;
  background-color: var(--input-bg);
}

.pointer {
  cursor: var(--pointer) !important;
}

.possible-stop,
.selected-stop {
  animation-name: pulsate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.possible-stop {
  stroke: var(--stops) !important;
}

.selected-stop {
  stroke: var(--stops) !important;
  stroke-opacity: 1 !important;
}

@keyframes pulsate {
  0% {
    stroke-width: 5px;
  }

  100% {
    stroke-width: 75px;
  }
}

.map-btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
  column-gap: 5px;
}

.map-btns>button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--font-white);
  color: var(--font-input);
  box-shadow: 0px 0px 4px var(--font-black);
  border: 1px solid;
  font-size: var(--font-xs);
  font-weight: var(--weight-800);
  cursor: var(--pointer);
}

.map-btns>button:hover {
  color: var(--font-black);
  box-shadow: 0px 0px 8px var(--font-grey);
}

/* game winning popup */
.winning-popup {
  box-shadow: 0px 0px 50px rgba(1, 9, 46, 0.761);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: var(--center);
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.winning-popup-body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: inherit;
}

.heading {
  font-size: 7em;
  color: var(--font-white);
}

.description {
  font-size: var(--font-l);
  color: var(--font-white);
  padding: 1em 0em 1.5em 0em;
}