* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  cursor: default;
}

.map {
  position: relative;
  width: 80%;
  height: 100vh;
}

.map>svg {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.notification-banner {
  position: absolute;
  top: 42.5%;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: rgb(178, 178, 178);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  font-weight: 100;
  color: white;
}

.game-end {
  position: absolute;
  top: 54%;
  left: 47%;
  width: 6%;
  height: 3%;
  border: 1px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 100;
  color: white;
  text-decoration: none;
}

.banner {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.two-x-btn {
  border-radius: 5px;
  color: white;
  background-color: rgb(255 87 34 / 80%);
  border: 2px solid rgb(255 87 34);
  visibility: hidden;
  position: absolute;
  right: 21%;
  top: 2%;
  width: 81px;
  font-size: 1.5em;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(255 87 34);
  cursor: pointer;
}

.visible {
  visibility: visible;
}

.red {
  background-color: rgba(255, 0, 0, 0.612);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.749);
  color: black;
}

.black {
  background-color: rgba(0, 0, 0, 0.614);
}

.purple {
  background-color: rgba(128, 0, 128, 0.639);
}

.green {
  background-color: rgba(0, 128, 0, 0.512);
}

.blue {
  background-color: rgba(0, 0, 255, 0.653);
}

.grey {
  background-color: rgba(128, 128, 128, 0.591);
}

.gold {
  background-color: rgb(255, 217, 0);
}

.dark-red {
  background-color: rgba(255, 0, 0, 0.8);
}

.dark-yellow {
  background-color: rgba(255, 255, 0, 0.8);
}

.dark-gold {
  background-color: gold;
}

.dark-purple {
  background-color: rgba(128, 0, 128, 0.8);
}

.dark-green {
  background-color: rgba(0, 128, 0, 0.8);
}

.dark-blue {
  background-color: rgba(0, 0, 255, 0.8);
}

.dark-grey {
  background-color: rgba(128, 128, 128, 0.8);
}

.dark-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.white-text {
  color: white;
}

.copy {
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke-width: 3.768px;
  stroke: #000000;
  stroke-miterlimit: 0.5;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 0.538983;
}

.pointer {
  cursor: pointer;
}

.possible-stop,
.selected-stop {
  animation-name: pulsate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.possible-stop {
  stroke: #1585b9 !important;
}

.selected-stop {
  stroke: #1585b9 !important;
  stroke-opacity: 1 !important;
}

@keyframes pulsate {
  0% {
    stroke-width: 5px;
  }

  100% {
    stroke-width: 75px;
  }
}

.map-btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  column-gap: 5px;
}

.map-btns>button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  color: #666666;
  box-shadow: 0px 0px 4px black;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
  cursor: pointer;
}

.map-btns>button:hover {
  color: black;
  box-shadow: 0px 0px 8px grey;
}