header {
  padding: 0 2em;
  height: 16%;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: var(--header-shadow);
}

.game-name {
  font-size: var(--font-xxl);
  color: var(--font-white);
}

.auth {
  justify-content: space-between;
  column-gap: 2em;
}

.auth>a {
  border: 1px solid var(--font-white);
  padding: 0.4em 1em;
  font-size: var(--font-m);
}

.user-name {
  font-size: var(--font-l);
}