body {
  background-image: url('../images/scotland_map.jpeg');
  background-size: 110% 125%;
  background-position: var(--center);
  background-repeat: no-repeat;
}

main {
  height: 84%;
  background: var(--transparent-bg-light);
}

main>div {
  width: 40%;
}

.heading {
  padding: 2.4em 0;
  font-size: var(--font-xxl);
  text-align: var(--center);
  letter-spacing: 1px;
}

.play-game {
  justify-content: space-between;
}

.play-game>a {
  border: 1px solid var(--font-white);
  padding: 0.5em 1.8em;
  font-size: var(--font-l);
  background-color: var(--primary-color);
  box-shadow: var(--header-shadow);
}

.popup-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(2px);
}

.popup {
  height: 25%;
  width: 28%;
  background-color: var(--font-white);
  justify-content: space-between;
  padding: var(--font-xl);
  position: relative;
}

.popup>h1 {
  color: var(--font-black);
}

.popup>input {
  width: 80%;
  height: 2.5em;
  padding: 0.7em;
  background-color: var(--input-bg);
  color: var(--font-input);
  font-size: var(--font-s);
  border: none;
}

.join-btn {
  padding: 0.7em;
  width: 25%;
  background-color: var(--primary-color);
  border: none;
  cursor: var(--pointer);
  font-size: var(--font-s);
  box-shadow: 0px 0px 2px #000000;
}

.popup-error {
  color: var(--error-color);
  height: 0;
  margin: 0;
  position: absolute;
  top: 63%;
}

.close-popup {
  background-color: var(--font-white);
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 0.5em;
  border: none;
  color: var(--primary-color);
  cursor: var(--pointer);
}

.connection-error {
  width: 22%;
  height: 5%;
  top: 80%;
  left: 39%;
  position: absolute;
  background-color: var(--font-white);
  color: var(--error-color);
  font-size: var(--font-l);
  font-weight: var(--weight-400);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}