body {
  background-image: url('../images/scotland_map.jpeg');
  background-size: 110% 125%;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100%;
  background: var(--transparent-bg-light);
  gap: 1em;
}

.leave-lobby {
  position: absolute;
  top: 4vh;
  right: 2vw;
  cursor: var(--pointer);
}

.leave-lobby a i {
  color: rgba(255, 255, 255, 0.7);
  font-size: var(--font-l);
}

.room-id {
  font-size: var(--font-l);
}

.players-container {
  width: 50%;
  height: 60%;
  margin: 1.2em auto;
  padding: 1em 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--transparent-bg-light);
  box-sizing: border-box;
}

.player-card,
.place-holder {
  width: 25%;
  height: 35%;
}

.player-card {
  border: 1px solid var(--font-white);
  color: var(--font-black);
  font-size: var(--font-m);
  align-content: var(--center);
  row-gap: 0.5em;
  box-shadow: 0px 0px 25px 25px var(--others-shadow);
}

.place-holder {
  border: 1px dashed var(--font-white);
}

.player-card>div {
  width: 100%;
  text-align: var(--center);
}

i {
  color: var(--font-black);
}

.play-btn {
  margin-top: 1em;
}

.play-btn>button {
  font-size: var(--font-m);
}

.btn {
  font-size: var(--font-xs);
  padding: 0.4em 1.2em;
  border: 1px solid var(--font-white);
  background-color: var(--primary-color);
  cursor: var(--pointer);
  color: var(--font-white);
}

.game-link {
  height: var(--font-l);
  font-size: var(--font-m);
}

#copy-message {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: var(--font-m) !important;
}

.copy-msg {
  padding: 0.5em 1.5em;
  gap: 5px;
}

.inline {
  display: inline-block;
  width: fit-content;
}

.name {
  overflow: hidden;
  word-break: break-all;
  font-weight: var(--weight-400);
}

.is,
.role,
.at,
.position {
  width: 80%;
  text-align: var(--center);
  font-weight: var(--weight-400);
}

.black {
  background: linear-gradient(to bottom, hsl(0deg 0% 0%), hsl(0deg 0% 20%), hsl(0deg 0% 0%));
}

.red {
  background: linear-gradient(to bottom, hsl(10deg 66% 20%), hsl(5deg 80% 44%), hsl(10deg 66% 20%));
}

.blue {
  background: linear-gradient(to bottom, hsl(230deg 66% 20%), hsl(240deg 40% 60%), hsl(230deg 66% 20%));
}

.orange {
  background: linear-gradient(to bottom, hsl(5deg 100% 40% / 80%), hsl(40deg 100% 60% / 80%), hsl(5deg 100% 40% / 80%));
}

.green {
  background: linear-gradient(to bottom, hsl(140deg 66% 20%), hsl(140deg 66% 50%), hsl(140deg 66% 20%));
}

.purple {
  background: linear-gradient(to bottom, hsl(280deg 90% 30%), hsl(280deg 90% 60%), hsl(280deg 90% 30%));
}

.hide {
  display: none !important;
}

.msg-container {
  width: 50%;
  height: 5%;
  font-size: var(--font-m);
}

/* .message {
  font-size: var(--font-m);
} */

.robber-container {
  width: 20%;
  height: 100%;
}

.detectives-container {
  width: 60%;
  height: 75%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character-card {
  font-size: var(--font-m);
  border: 1px solid var(--font-white);
  align-content: var(--center);
  row-gap: 0.5em;
  box-shadow: 0px 0px 15px 5px var(--others-shadow);
}

.robber-card {
  width: 100%;
  height: 30%;
}

.detective-card {
  width: 30%;
  height: 40%;
}

.loading-gif {
  width: 5%;
  aspect-ratio: 1;
}

.vs {
  height: 100%;
}

.line {
  border: 1px solid var(--font-white);
  flex-grow: 1;
}

.vs-text {
  padding: 10px;
  font-size: var(--font-l);
}

.me {
  border: 1px solid rgb(15, 170, 235) !important;
  box-shadow: 0px 0px 15px 5px var(--my-shadow);
}

.left-player-msg {
  position: fixed;
  font-size: var(--font-s);
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--my-shadow);
  padding: 0.7em 0.8em;
  width: 13%;
  top: 3%;
  right: 5%;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}