* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

body {
  font-family: sans-serif;
}

main {
  width: 100%;
  height: 84%;
  background-color: #8196b6;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#greet {
  font-size: 1.2em;
}

#room-id {
  margin: 1.5em 0;
  font-size: 1.7em;
}

#players-container {
  width: 30%;
  height: 50%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#players-container>div {
  padding: 0.5em;
  font-size: 1.4em;
  border: 1px solid #2b5494;
  background-color: #d9d9d9;
  color: black;
}

#game-link {
  width: 40%;
  background-color: #d9d9d9;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#game-link>span {
  color: black;
  padding: 0.2em 1em;
}

#game-link>span:nth-child(2) {
  border-left: 1px solid black;
  cursor: pointer;
}

i {
  color: black;
}

#play-button {
  margin-top: 1.5em;
}

#play {
  font-size: 1.5em;
  padding: 0.6em 1.5em;
  border: 1px solid white;
}

.disable {
  background-color: #2b5394bc;
  cursor: no-drop;
  color: #d9d9d994;
}

.activate {
  background-color: #2b5494;
  cursor: pointer;
  color: white;
}
.inline {
  display: inline-block;
  width: fit-content;
}

.name {
  width: 30%;
  overflow: hidden;
  word-break: break-all;
}

.is {
  width: 10%
}

.role {
  width: 25%
}

.at {
  width: 20%
}

.position {
  width: 5%;
}

.small {
  font-size: 0.8em;
}

.player-card {
  display: flex;
  align-items: center;
}
.player-card>* {
  color: #2b5494;
}

.black {
  background-color: black !important;
}

.black div {
  color: white !important;
}
.hide {
  display: none;
}

#message {
  margin-top: 1.5em;
}