* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

body {
  font-family: sans-serif;
  background-image: url('../images/scotland_map.jpeg');
  background-size: 110% 125%;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.75);
  display: flex;
  gap: 1em;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#leave-lobby {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4vh;
  right: 2vw;
  cursor: pointer;
}

#leave-lobby a i {
  color: rgba(255, 255, 255, 0.719);
  font-size: 2em;
}

#greet {
  font-size: 1.2em;
}

#room-id {
  font-size: 2em;
}


#players-container {
  width: 50%;
  height: 60%;
  margin: 1.2em auto;
  padding: 1em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(40, 40, 40, 0.75);
  box-sizing: border-box;
}

.player-card,
.place-holder {
  width: 25%;
  height: 35%;
}

.player-card {
  border: 1px solid white;
  color: black;
  font-size: 1.4em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 0.5em;
  box-shadow: 0px 0px 25px 25px rgba(100, 100, 100, 0.2);
}

.place-holder {
  border: 1px dashed white;
}

.player-card>div {
  width: 100%;
  text-align: center;
  color: white;
}

i {
  color: black;
}

.btn {
  font-size: 1.4em;
  padding: 0.4em 1.2em;
  border: 1px solid white;
  background-color: #2b5494;
  cursor: pointer;
  color: white;
}

#game-link {
  height: 2em;
  display: flex;
}

#copy-message {
  font-size: 1em;
  padding: 0.6em 1.5em;
  display: flex;
  gap: 5px;
  align-items: center;
}

.inline {
  display: inline-block;
  width: fit-content;
}

.name {
  overflow: hidden;
  word-break: break-all;
}

.is,
.role,
.at,
.position {
  width: 80%;
  text-align: center;
}

.small {
  font-size: 1em;
}

.black {
  background-color: rgb(0, 0, 0) !important;
}

.red {
  background-color: rgb(240, 5, 5, 0.7) !important;
}

.blue {
  background-color: rgb(5, 5, 175, 0.7) !important;
}

.yellow {
  background-color: rgba(215, 190, 15, 0.7) !important;
}

.green {
  background-color: rgb(0, 150, 0, 0.7) !important;
}

.purple {
  background-color: rgb(150, 0, 200, 0.7) !important;
}

.gold {
  background-color: gold !important;
}

.black div {
  color: white !important;
}

.hide {
  display: none !important;
}

#message-container {
  width: 50%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 1.2em;
}

.robber-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detectives-container {
  width: 60%;
  height: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.character-card {
  font-size: 1.4em;
  border: 1px solid white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 0.5em;
  box-shadow: 0px 0px 15px 5px rgba(100, 100, 100, 0.2);
}

.robber-card {
  width: 100%;
  height: 30%;
}

.detective-card {
  width: 30%;
  height: 40%;
}

#loading-gif {
  width: 5%;
  aspect-ratio: 1;
}

#vs-img {
  height: 100%;
}

.me {
  border: 1px solid rgb(12, 171, 234) !important;
  box-shadow: 0px 0px 15px 5px rgba(12, 171, 234, 0.2);
}

.left-player-msg {
  position: fixed;
  font-size: 1.1em;
  bottom: 2vh;
  right: 1vw;
  color: #3d3c3c;
  background-color: #cececee8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #0faaea;
  padding: 0.7em 0.8em;
  width: 13%;
}