body {
  font-weight: var(--weight-100);

  background-image: url('../images/scotland_map.jpeg');
  background-size: 110% 125%;
  background-position: var(--center);
  background-repeat: no-repeat;
}

input[type=submit],
button {
  cursor: var(--pointer);
}

a {
  text-decoration: underline;
  color: var(--font-white);
}

h1,
h2 {
  font-weight: var(--weight-300);
}

.main-container {
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  height: 85%;
  font-size: var(--font-s);
  background: var(--transparent-bg-light);
}

.login,
.signup {
  background: var(--transparent-bg-dark);
  height: 60%;
  width: 32%;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 25px rgba(100, 100, 100, 0.2);
}

.form-header {
  height: 20%;
  font-size: var(--font-m);
}

form {
  height: 60%;
  gap: 1em;
}

.input-group {
  width: 50%;
}

.input-group input {
  display: block;
  border: 0;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.4em 0.5em;
  background: none;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--font-white);
  font-size: var(--font-s);
}

.username:focus,
.password:focus {
  outline: none;
  caret-color: var(--font-white);
}

input.login-btn,
input.signup-btn {
  color: var(--font-white);
  border: 1px solid var(--font-white);
  background-color: var(--primary-color);
  margin: 0 auto;
  width: 40%;
  padding: 0.5em 0;
  cursor: var(--pointer);
}

.msg-for-signup {
  text-align: var(--center);
  font-size: var(--font-xs);
}

.error {
  position: relative;
  width: 100%;
}

.error-msg {
  width: 100%;
  color: var(--error-color);
  position: absolute;
  text-align: var(--center);
  top: -1em;
}