main {
  background-color: var(--secondary-color);
  height: 84%;
}

main>div {
  padding-top: 7em;
  flex-wrap: wrap;
  align-items: var(--center);
  row-gap: var(--font-xl);
}

.error {
  font-size: var(--font-xl);
  color: var(--font-blue);
}

.home-link>a {
  font-size: var(--font-m);
  color: var(--font-blue);
}