:root {
  --primary_color: #2b5495;
  --secondary_color: #95a9c9;
  --font_color: #2b5495;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 200;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--font_color);
  font-weight: 100;
}

main {
  background-color: var(--secondary_color);
  height: 85%;
}

main>div {
  padding-top: 7em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 3em;
}

#error {
  font-size: 3em;
}

#home-link {
  font-size: 1.5em;
}