.stats {
  width: 20%;
  border-left: 1px solid var(--font-black);
}

.robber-log {
  width: 100%;
  height: 50%;
  flex-wrap: wrap;
}

.robber-log>header {
  height: 12%;
  border: 1px solid var(--font-black);
  font-size: var(--font-l);
}

.log-board {
  padding: 0.2em 0.5em;
  height: 88%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.3em;
  border: 1px solid var(--font-black);
}

.circle,
.rectangle {
  height: 11%;
  border: 1px solid var(--font-black);
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

.rectangle {
  width: 20%;
  border-radius: 5%;
}

.transport {
  height: 11%;
}

.players-stat {
  height: 50%;
}

.players-stat>:nth-child(n+1) {
  border-bottom: 1px solid var(--font-black);
}

.player-stat {
  height: 16.7%;
  padding: 0.2em 0.5em;
}

.profile {
  height: 30%;
  column-gap: 10px;
}

.name {
  color: var(--transparent-bg-dark);
}

.ticket>img {
  height: 25px;
  aspect-ratio: 1;
}

.ticket-stat {
  width: 100%;
  justify-content: space-around;
}

.count {
  text-align: var(--center);
  font-size: var(--font-xs);
}

.black-text {
  color: var(--font-black);
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.blue-text {
  color: blue;
}

.gold-text {
  color: gold;
}

.purple-text {
  color: purple;
}

/* Added leave game button*/
.mrx-log {
  width: 90%;
}

.leave-game i {
  padding: 0 6px;
  color: var(--error-color);
}

.log-header>:nth-child(n+1) {
  border-left: 1px solid var(--font-black);
}