.ticket-popup {
  position: absolute;
  right: 21%;
  top: 2%;
  background-color: hsl(0deg 0% 100% / 77%);
  box-shadow: 0px 0px 5px var(--font-black);
  backdrop-filter: blur(3px);
  border: 1px solid;
  border-radius: var(--font-xs);
}

.ticket-popup>a {
  padding: 10px 25px;
}

.ticket-popup>:nth-child(n+2) {
  border-top: 1px solid var(--transparent-bg-light);
}

.ticket-popup>a>img {
  width: var(--font-l);
}